.td_r {
	text-align: right;
}

.td_r_t {
	text-align: right;
	vertical-align: top;
}

table.clubinfo th {
	white-space: nowrap;
	padding-right: 5px;
}

div.joomleague .clubinfo_listing_item {
	text-align: right;
	width: 48%;
	font-weight: bold;
	float: left;
	vertical-align: middle;
}

div.joomleague .clubinfo_listing_value {
	text-align: left;
	margin-left: 2px;
	width: 50%;
	float: right;
	vertical-align: middle;
}

div.joomleague .clubinfo_team_item {
	text-align: left;
	width: 48%;
	font-weight: bold;
	float: left;
	vertical-align: middle;
}

div.joomleague .clubinfo_team_value {
	text-align: left;
	margin-left: 200px;
	width: 50%;
	float: right;
	vertical-align: middle;
}

div.joomleague .no-column {
	width: 100%;
	float: left;
}

div.joomleague .left-column {
	float: left;
	width: 50%
}

div.joomleague .right-column {
	float: right;
	width: 50%;
}

div.joomleague .left-column-teamlist {
	width: 95%;
	float: left;
}

table.paramlist {
	width: auto;
}

table.admintable td.key,table.admintable td.paramlist_key {
	text-align: right;
	width: 20%;
}

div.back_button {
	clear: both;
}
