@CHARSET "UTF-8";

/**
 * imageselect
 *
 * based on com_media
 */
div.item {
	float: left;
	border: 1px solid #ccc;
	margin: 3px;
	position: relative;
}

div.imgBorder {
	height: 72px;
	vertical-align: middle;
	width: 88px;
	overflow: hidden;
}

div.imgBorder a {
	height: 72px;
	width: 88px;
	display: block;
	cursor: pointer;
}

div.imgBorder a:hover {
	height: 72px;
	width: 88px;
	background-color: #f0f0f0;
	color: #FF6600;
}

div.controls {
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #f9fcf9;
	border-top: 1px solid #ddd;
}

div.controls img {
	vertical-align: middle;
}

div.imageinfo {
	background: #f9f9f9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 88px;
	height: 15px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}

div.image {
	/*  padding-top: 10px; removed because of the button icons */
	
}

div.pnav {
	padding: 5px;
	text-align: center;
	background: #f3f3f3;
	border: 1px solid #ccc;
	overflow: hidden;
}

div.imghead {
	padding: 3px;
	border: 1px solid #ccc;
}