html,body {
  background-color: #000000;
  height: 100%;
  width: 100%;
  margin: 1%; padding: 0;
  font-family: Verdana, Arial;
  font-size: 1em;
  overflow: hidden;
  color: #ffffff;
}

a {
  color: #ffff00;
  text-decoration: none;
}

a:hover {
  color: #ffff00;
  text-decoration: underline;
}

#header {
  font-family: Verdana, Arial;
  font-size: 1em;
  overflow: hidden;
  color: #ffffff;
}

#map {
  height: 86%;
  width: 96%;
  padding: 0; margin: 0;
}

#content {
  font-size: 1em;
}

#osm {
  font-size: 0.7em;
  font-style: italic;
  margin-bottom: 20px;
}
