@CHARSET "UTF-8";

.matchreport {
	clear: both;
	font-size: 100%;
	margin: 5px 0 18px;
	width: 100%;
}

.matchreport th {
	background: #CCCCCC none repeat scroll 0 0;
	font-weight: bold;
}

.matchreport dt.list {
	text-align: left;
}

.matchreport td.list {
	width: 50%;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}

.matchreport td.list li.list {
	list-style-type: none;
}

.matchreport td.list li.list_pictureonly_left {
	list-style-type: none;
	float: right;
	padding: 0px 5px;
}

.matchreport td.list li.list_pictureonly_right {
	list-style-type: none;
	float: left;
	padding: 0px 5px;
}

.matchreport td.eventid,.matchreport td.positionid {
	border-bottom: 1px solid #D0D0D0;
	text-align: center;
	font-style: italic;
}

.matchreport td.result,.matchreport td.teamlogo {
	width: 50%;
	text-align: center;
}

.matchreport td.result,.matchreport td.team {
	width: 50%;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

.matchreport td.result {
	width: 50%;
	font-size: 250%;
	font-weight: bold;
	text-align: center;
}

.matchreport td.legs {
	font-size: 120%;
	font-style: italic;
	text-align: center;
}

.matchreport span.heading {
	font-weight: bold;
}

table.matchstats {
	clear: both;
	font-size: 100%;
	margin: 5px 0 18px;
	width: 100%;
}

table.matchstats td {
	vertical-align: top;
	text-align: left;
}

table.playerstats td,table.playerstats th {
	text-align: center;
}

table.playerstats td.playername,table.playerstats th.playername {
	text-align: left;
	width: 200px;
}

.matchstats td.positionid {
	colspan: 2;
	border-bottom: 1px solid #D0D0D0;
	text-align: center;
	font-style: italic;
}
/** timeline */
.tool-tip {
	width: 139px;
	z-index: 13000;
}

.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(/media/com_joomleague/jl_images/bubble.png) top left;
}

.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(/media/com_joomleague/jl_images/bubble.png) bottom right;
}

#timelinetop {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}

#timelinebottom {
	position: relative;
	width: 100%;
	margin-top: 0px;
}

#timeline {
	clear: both;
	font-size: 80%;
	width: 100%;
	margin: 5px 0 18px;
}

#timeline-top {
	border-bottom: 3px solid #000;
}

#timeline-bottom {
	vertical-align: top;
}

.label {
	text-align: left;
	font-weight: bold;
}

.data {
	text-align: left;
}

li.events {
	text-align: left;
}

.eventstable {
    clear: both;
	font-size: 100%;
	margin: 5px 0 18px;
	width: 100%;
}

.eventstable td.ecenter {
     width: 30px;
     text-align: center;
}

.eventstable td.tcenter {
     width: 40px;
     text-align: center;
}

.tickerStyle1 {
     font-style: normal;
}

.tickerStyle2 {
     font-style: italic;
}
