.mootabs_title ul {
	list-style: none !important;
	list-style-image: none !important;
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
	height: auto;
}

.mootabs_title li {
	list-style: none !important;
	list-style-image: none !important;
	list-style-type: none !important;
	float: left;
	padding: 2px 8px 2px 8px;
	margin-right: 2px;
	cursor: pointer;
	height: auto;
	background: none;
	background-color: #efefef;
}

.mootabs_title li.active {
	list-style: none !important;
	list-style-type: none !important;
	list-style-image: none !important;
	background: none;
	background-color: #e2e2e2;
}

.mootabs_panel {
	display: none;
	position: relative;
	width: 100%;
	top: -1px;
	clear: both;
	overflow: auto;
	border: 2px solid #e2e2e2;
}

.mootabs_panel.active {
	display: block;
}

.mootabs_title li.over {
	font-weight: bold;
}

.accordion {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
}

/* Heading des Accordions */
.toggler {
	color: #222;
	margin: 0;
	padding: 2px 5px;
	color: #ffffff;
	background: #000000;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
}

/* Element des Accordions */
.element {
	margin: 0;
	padding: 10px;
}

/* Slider */
.slider {
	background-color: #fefefe;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
}

/* ToolTip Item */
.tooltip {
	color: #c00000;
}

/* ToolTip */
.tool-tip {
	color: #fff;
	width: 150px;
	z-index: 1001;
}

/* Titel des ToolTips */
.tool-title {
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	color: #ffa308;
	padding: 8px;
	background-color: #999999;
}

/* Text des ToolTips */
.tool-text {
	font-size: 10px;
	padding: 8px;
	background-color: #999999;
}