.jsm .pagenav {
	text-align: center;
}

.jsm .col0 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DCDCDC;
	padding: 4px;
	text-align: center;
}

.jsm .col1 {
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #DCDCDC;
	padding: 4px;
	text-align: center;
}

.jsm .rankheader {
	vertical-align: middle;
	text-align: left;
	padding: 5px;
}

.jsm .teamheader {
	vertical-align: middle;
	text-align: left;
	padding: 5px;
}

.jsm .headers {
	vertical-align: middle;
	text-align: center;
	padding: 5px;
}

.jsm .rankingrow {
	vertical-align: middle;
	text-align: center;
	padding: 5px;
}

.jsm .rankingrow_rank {
	vertical-align: middle;
	width: 15px;
	padding: 5px;
}
.jsm .rankingrow_lastrankimg {
	vertical-align: middle;
	width: 15px;
	padding: 5px;
}

.jsm .rankingrow_lastrank {
	vertical-align: middle;
	text-align: right;
	width: 10px;
	padding: 5px;
	font-size: 90%;
}

.jsm .rankingrow_logo {
	vertical-align: middle;
	text-align: center;
}

.jsm .rankingrow_teamname {
	vertical-align: middle;
	width: 250px;
	padding: 5px;
	text-align: left;
}

.jsm .rankingrow_played {
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	padding: 5px;
}

.jsm .rankingrow_points {
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	padding: 5px;
}

.jsm .rankingrow.lastgames {
	white-space: nowrap;
}

.jsm .rankingrow.lastgames img {
	padding: 0 2px 0 2px;
}
