div.jl_teamsubstats {
	float: left;
	margin: 0 10px 15px 0;
	width: 98%;
}

div.jl_teamsubstats th {
	text-align: center;
}

div.jl_teamsubstats th.le {
    text-align: left;
}

div.jl_teamsubstats td {
	text-align: right;
	padding: 3px 5px;
}

div.jl_teamsubstats td.statlabel {
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}

div.jl_teamsubstats td.statvalue {
	text-align: center;
}

div.joomleague .left-column {
	float: left;
	width: 50%
}

div.joomleague .right-column {
	float: right;
	width: 50%;
}

div.jl_teamsubstats tr.sectiontableentry1 {
	
}

div.jl_teamsubstats tr.sectiontableentry2 {
	
}