@import url('clubinfo.css');

table.fixtures {
	width: 100%;
	text-align: center;
	vertical-align: top;
	border: none;
	padding: 0px;
	margin: 0;
	border-spacing: 0px;
	white-space: nowrap;
}

.description {
	text-align: left;
	float: left;
	margin-bottom: 1em;
}

.description {
	clear: both;
}

div.joomleague .left-column {
	float: left;
	width: 50%;
}

div.joomleague .right-column {
	float: right;
	width: 50%;
}

div.joomleague .jl_listing_item {
	width: 48%;
	text-align: right;
}

div.joomleague .jl_listing_value {
	width: 50%;
}

div.joomleague .jl_parentContainer {
	overflow: hidden;
}