.subsequentdecision {
    background-color: #bbb;
}

.jsm-individual-match-matrix .rotated_cell {
    height: 25rem;
    padding: 0.25rem 0.5rem;
    vertical-align: bottom;
    white-space: nowrap;
}

.jsm-individual-match-matrix .rotate_text {
    width: 1.25rem;
    margin: 0 auto;
    padding: 0.625rem 0.1875rem 0;
    text-align: center;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.jsm-individual-match-matrix .jsm-matrix-existing {
    background-color: teal;
}

.jsm-individual-match-matrix .jsm-matrix-available {
    background-color: white;
}

.jsm-individual-result-table .jsm-col-row-number {
    width: 3rem;
}

.jsm-individual-result-table .jsm-col-check {
    width: 2rem;
}

.jsm-individual-result-table .jsm-col-status,
.jsm-individual-result-table .jsm-col-id {
    width: 1%;
}

.jsm-individual-result-table .jsm-cancelled-row-number {
    background-color: #ff9999;
}

.jsm-individual-result-table .jsm-player-missing {
    background-color: #bbffff;
}

.jsm-individual-result-table .jsm-result-cell {
    text-align: right;
    white-space: nowrap;
}

.jsm-individual-result-table .jsm-part-result {
    font-size: 0.75rem;
}
