.subsequentdecision {
    background-color: #bbb;
}

.jsm-individual-match-matrix .rotated_cell {
    height: 25rem;
    padding: 0.25rem 0.5rem;
    vertical-align: bottom;
    white-space: nowrap;
}

.jsm-individual-match-matrix .rotate_text {
    width: 1.25rem;
    margin: 0 auto;
    padding: 0.625rem 0.1875rem 0;
    text-align: center;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.jsm-individual-match-matrix .jsm-matrix-existing {
    background-color: teal;
}

.jsm-individual-match-matrix .jsm-matrix-available {
    background-color: white;
}
