.fc-header-title h2 {
	line-height: 20px;
}

.fc-header tr,.fc-header-title h2,.fc-header,.fc-header td {
	border: 0px;
}

.fc-event-time,.fc-event-title {
	display: block;
	float: left;
}

#gcalendar_component_date_picker_button,#gcalendar_component_print_button
	{
	cursor: pointer;
}

.ui-datepicker {
	z-index: 1003 !important; /* must be > than popup editor (1002) */
}

#tiptip_content {
	text-align: left;
}

.fc-event-time {
	white-space: nowrap;
}

.dp-container [class^="icon-"],[class*=" icon-"] {
	margin-top: 5px;
}

#gcalendar_view_toggle_status {
	cursor: pointer;
	text-align: center;
}

@media only screen and (max-width : 600px){
    #gcalendar_component .fc-header td {
        width: 100%;
        display: block;
        text-align:left;
    }
}