<?xml version="1.0" encoding="utf-8"?>
<config>
<!-- register 1 -->	
	<fieldset
		name="greetings"
		label="COM_SPORTSMANAGEMENT_CONFIG_SETTINGS_LABEL"
		description="COM_SPORTSMANAGEMENT_CONFIG_SETTINGS_DESC"
	addrulepath="/administrator/components/com_sportsmanagement/models/rules"
	addfieldpath="/administrator/components/com_sportsmanagement/models/fields"
  >
	
  <field name="cfg_help_server" 
  type="text" 
  default="http://smwiki.diddipoeler.de/index.php/"
		size="100"
    label="COM_SPORTSMANAGEMENT_SETTINGS_HELPSERVER"
		description="COM_SPORTSMANAGEMENT_SETTINGS_HELPSERVER_DESC">
		</field>	
	
  <field name="cfg_update_server_file" 
  type="text" 
  default="https://github.com/diddipoeler/sportsmanagement/archive/master.zip"
		size="100"
    label="COM_SPORTSMANAGEMENT_SETTINGS_UPDATESERVER_FILE"
		description="COM_SPORTSMANAGEMENT_SETTINGS_UPDATESERVER_FILE_DESC">
		</field>
		
	  <field name="cfg_github_username" 
    type="text" 
    default="diddipoeler"
		size="100"
    label="COM_SPORTSMANAGEMENT_SETTINGS_GITHUB_USERNAME"
		description="COM_SPORTSMANAGEMENT_SETTINGS_GITHUB_USERNAME_DESC">
		</field>	
		
		<field name="cfg_github_repository" 
    type="text" 
    default="sportsmanagement"
		size="100"
    label="COM_SPORTSMANAGEMENT_SETTINGS_GITHUB_REP"
		description="COM_SPORTSMANAGEMENT_SETTINGS_GITHUB_REP_DESC">
		</field>
		
		<field name="cfg_which_media_tool" 
    type="radio"
			default="imageselect" 
      label="COM_SPORTSMANAGEMENT_SETTINGS_MEDIA_TOOL_TITLE"
			description="COM_SPORTSMANAGEMENT_SETTINGS_MEDIA_TOOL_DESC">
			<option value="media">COM_SPORTSMANAGEMENT_JOOMLA_MEDIA_KOMPONENT</option>
			<option value="imageselect">COM_SPORTSMANAGEMENT_JOOMLEAGUE_IMAGEHANDLER</option>
		</field>
		
		<field name="cfg_which_database_table" 
    type="radio"
			default="sportsmanagement" 
      label="COM_SPORTSMANAGEMENT_SETTINGS_DATABASE_TABLE_TITLE"
			description="COM_SPORTSMANAGEMENT_SETTINGS_DATABASE_TABLE_DESC">
			<option value="joomleague">COM_SPORTSMANAGEMENT_JOOMLEAGUE_DATABASE_TABLE</option>
			<option value="sportsmanagement">COM_SPORTSMANAGEMENT_SPORTSMANAGEMENT_DATABASE_TABLE</option>
		</field>
		
    <field name="show_debug_info" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="max_import_time" 
    type="text" 
    default="480"
			label="COM_SPORTSMANAGEMENT_SETTINGS_MAX_IMPORT_TIME_TITLE" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_MAX_IMPORT_TIME_DESC">
		</field>
		
		<field name="max_import_memory" 
    type="text" 
    default="256M"
			label="COM_SPORTSMANAGEMENT_SETTINGS_MAX_IMPORT_MEMORY_TITLE" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_MAX_IMPORT_MEMORY_DESC">
		</field>

		<field name="modal_popup_width" 
    type="text" 
    default="900"
			label="COM_SPORTSMANAGEMENT_SETTINGS_MODALPOPUP_WIDTH" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_MODALPOPUP_WIDTH_DESC">
		</field>
		
		<field name="modal_popup_height" 
    type="text" 
    default="600"
			label="COM_SPORTSMANAGEMENT_SETTINGS_MODALPOPUP_HEIGHT" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_MODALPOPUP_HEIGHT_DESC">
		</field>
		
		
    <field name="cfg_quotes" 
    type="list"
    multiple="true"  
    default=""
    size="10"
			label="COM_SPORTSMANAGEMENT_SETTINGS_QUOTES" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_QUOTES_DESC">
			<option value="player,1">COM_SPORTSMANAGEMENT_QUOTES_PLAYER</option>
			<option value="staff,2">COM_SPORTSMANAGEMENT_QUOTES_STAFF</option>
			<option value="functionaries,3">COM_SPORTSMANAGEMENT_QUOTES_FUNCTIONARIES</option>
      <option value="reporter,4">COM_SPORTSMANAGEMENT_QUOTES_REPORTER</option>
			<option value="others,5">COM_SPORTSMANAGEMENT_QUOTES_OTHERS</option>
		</field>
		
		
    <field name="cfg_country_associations" 
    type="country"
    multiple="true"  
    default=""
    size="10"
			label="COM_SPORTSMANAGEMENT_SETTINGS_COUNTRY_ASSOCIATIONS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_COUNTRY_ASSOCIATIONS_DESC">
			
		</field>
    
    <field name="cfg_sport_types" 
    type="list"
    multiple="true"  
    default=""
    size="10"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SPORT_TYPES" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SPORT_TYPES_DESC">
			<option value="soccer">COM_SPORTSMANAGEMENT_ST_SOCCER</option>
			<option value="hockey">COM_SPORTSMANAGEMENT_ST_HOCKEY</option>
			
			<option value="american_football">COM_SPORTSMANAGEMENT_ST_AMERICAN_FOOTBALL</option>
			<option value="icehockey">COM_SPORTSMANAGEMENT_ST_ICEHOCKEY</option>
			<option value="volleyball">COM_SPORTSMANAGEMENT_ST_VOLLEYBALL</option>
			<option value="korfball">COM_SPORTSMANAGEMENT_ST_KORFBALL</option>
			<option value="handball">COM_SPORTSMANAGEMENT_ST_HANDBALL</option>
			<option value="tennis">COM_SPORTSMANAGEMENT_ST_TENNIS</option>
			<option value="tabletennis">COM_SPORTSMANAGEMENT_ST_TABLETENNIS</option>
			<option value="basketball">COM_SPORTSMANAGEMENT_ST_BASKETBALL</option>
		</field>
		
		<field type="spacer" name="spacera" label="COM_SPORTSMANAGEMENT_SETTINGS_SIS_PARAMETER" 
          description="COM_SPORTSMANAGEMENT_SETTINGS_SIS_PARAMETER_DESC" />
     
     <field name="sis_xmllink" type="list" default="http://www.sis-handball.de" label="COM_SPORTSMANAGEMENT_SETTINGS_SETSISXMLLINK" description="COM_SPORTSMANAGEMENT_SETTINGS_SETSISXMLLINK_DESC">
				<option value="http://www.sis-handball.at">SIS Österreich</option>
				<option value="http://www.sis-handball.de">SIS Deutschland</option>
			</field>
      <field name="sis_meinevereinsnummer" type="text" size="40" default="" label="COM_SPORTSMANAGEMENT_SETTINGS_SETMEINEVEREINSNUMMER" description="COM_SPORTSMANAGEMENT_SETTINGS_SETMEINEVEREINSNUMMER_DESC" />
			<field name="sis_meinvereinspasswort" type="text" size="40" default="" label="COM_SPORTSMANAGEMENT_SETTINGS_SETMEINEVEREINSPASS" description="COM_SPORTSMANAGEMENT_SETTINGS_SETMEINEVEREINSPASS_DESC" />     
  </fieldset>

<!-- register 2 -->		
	<fieldset name="COM_SPORTSMANAGEMENT_SETTINGS_GROUP_PLACEHOLDER_IMAGES"
		addfieldpath="/administrator/components/com_sportsmanagement/models/fields">
	
		<field name="ph_flags" 
    type="media"
			default="images/com_sportsmanagement/database/placeholders/placeholder_flags.png"
			label="COM_SPORTSMANAGEMENT_SETTINGS_LABEL_PH_FLAGS" 
			description="COM_SPORTSMANAGEMENT_SETTINGS_DESCR_PH_FLAGS"
			directory="images/com_sportsmanagement/database/placeholders/"
			preview="show">
		</field>
		
		<field name="ph_icon" 
    type="media"
			default="images/com_sportsmanagement/database/placeholders/placeholder_21.png" 
			label="COM_SPORTSMANAGEMENT_SETTINGS_LABEL_PH_ICON"
			description="COM_SPORTSMANAGEMENT_SETTINGS_DESCR_PH_ICON"
			directory="images/com_sportsmanagement/database/placeholders/"
			preview="show">
		</field>
		
		<field name="ph_logo_small" 
    type="media"
			default="images/com_sportsmanagement/database/placeholders/placeholder_small.gif"
			label="COM_SPORTSMANAGEMENT_SETTINGS_LABEL_PH_LOGO_SMALL" 
			description="COM_SPORTSMANAGEMENT_SETTINGS_DESCR_PH_LOGO_SMALL"
			directory="images/com_sportsmanagement/database/placeholders/"
			preview="show">			
		</field>
		
		<field name="ph_logo_medium" 
    type="media"
			default="images/com_sportsmanagement/database/placeholders/placeholder_50.png" 
			label="COM_SPORTSMANAGEMENT_SETTINGS_LABEL_PH_LOGO_MEDIUM"
			description="COM_SPORTSMANAGEMENT_SETTINGS_DESCR_PH_LOGO_MEDIUM"
			directory="images/com_sportsmanagement/database/placeholders/"
			preview="show">			
		</field>
		
		<field name="ph_logo_big" 
    type="media"
			default="images/com_sportsmanagement/database/placeholders/placeholder_150.png"
			label="COM_SPORTSMANAGEMENT_SETTINGS_LABEL_PH_LOGO_BIG" 
			description="COM_SPORTSMANAGEMENT_SETTINGS_DESCR_PH_LOGO_BIG"
			directory="images/com_sportsmanagement/database/placeholders/"
			preview="show">			
		</field>
		
		<field name="ph_player" 
    type="media"
			default="images/com_sportsmanagement/database/placeholders/placeholder_150_2.png"
			label="COM_SPORTSMANAGEMENT_SETTINGS_LABEL_PH_PLAYER" 
			description="COM_SPORTSMANAGEMENT_SETTINGS_DESCR_PH_PLAYER"
			directory="images/com_sportsmanagement/database/placeholders/"
			preview="show">			
		</field>
		
		<field name="ph_team" 
    type="media"
			default="images/com_sportsmanagement/database/placeholders/placeholder_450_2.png"
			label="COM_SPORTSMANAGEMENT_SETTINGS_LABEL_PH_TEAM" 
			description="COM_SPORTSMANAGEMENT_SETTINGS_DESCR_PH_TEAM"
			directory="images/com_sportsmanagement/database/placeholders/"
			preview="show">			
		</field>
		
		<field type="spacer" name="spacera" label="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL" 
          description="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL_DESC" />
          
		<field
				name="match_mail_header"
				type="text"
				default="Spielverlegung !"
				label="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL_HEADER"
				description="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL_HEADER_DESC"
				size="50"
				filter="safehtml"/>	
<!--
		<field
				name="match_mail_text"
				type="textarea"
				default="Hallo Sportsfreunde, das Spiel am [FROMDATE] um [FROMTIME] Uhr wurde auf den [TODATE] auf [TOTIME] Uhr verlegt.Gruß [MAILFROM]"
				label="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL_TEXT"
				description="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL_TEXT_DESC"
				rows="5" 
        cols="50"
				filter="safehtml"/>			
-->
		<field
				name="match_mail_text"
				type="editor"
				default="Hallo Sportsfreunde, das Spiel am [FROMDATE] um [FROMTIME] Uhr wurde auf den [TODATE] auf [TOTIME] Uhr verlegt.Gruß [MAILFROM]"
				label="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL_TEXT"
				description="COM_SPORTSMANAGEMENT_SETTINGS_MATCH_MAIL_TEXT_DESC"
				width="45ß" 
				filter="safehtml"/>
				
	</fieldset>

<!-- register 3 -->	
	<fieldset name="COM_SPORTSMANAGEMENT_SETTINGS_GROUP_BACKEND"
	label="COM_SPORTSMANAGEMENT_SETTINGS_GROUP_BACKEND"
		addfieldpath="/administrator/components/com_sportsmanagement/elements">

<field name="current_season" type="actseason" default=""
			label="COM_SPORTSMANAGEMENT_SETTINGS_CURRENT_SEASON_TITLE" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_CURRENT_SEASON_DESC"
      
      
      />

<field name="show_debug_info_clubs" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_CLUBS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
<field name="show_debug_info_teams" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_TEAMS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    <field name="show_debug_info_leagues" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_LEAGUES" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    <field name="show_debug_info_seasons" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_SEASONS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    <field name="show_debug_info_playgrounds" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_PLAYGROUNDS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    <field name="show_debug_info_positions" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_POSITIONS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    <field name="show_debug_info_statistics" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_STATISTICS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    <field name="show_debug_info_sportstypes" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_SPORTSTYPES" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    <field name="show_debug_info_eventtypes" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_EVENTTYPES" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    
    <field name="show_debug_info_rounds" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_ROUNDS" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
    
    <field name="show_debug_info_matches" 
    type="radio" 
    default="0"
			label="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_TITLE_MATCHES" 
      description="COM_SPORTSMANAGEMENT_SETTINGS_SHOW_DEBUG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>        
          		
	</fieldset>
  
  		
<!-- register ende -->		
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sportsmanagement"
			section="component"
		/>
	</fieldset>
</config>
