<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="greetings"
		label="COM_HELLOWORLD_CONFIG_GREETING_SETTINGS_LABEL"
		description="COM_HELLOWORLD_CONFIG_GREETING_SETTINGS_DESC"
	>
		
	
  <field name="cfg_update_server_file" type="text" default="https://github.com/diddipoeler/sportsmanagement/archive/master.zip"
		size="100"
    label="COM_JOOMLEAGUE_SETTINGS_UPDATESERVER_FILE"
		description="COM_JOOMLEAGUE_SETTINGS_UPDATESERVER_FILE_DESC">
		</field>
		
	  <field name="cfg_github_server" type="text" default="https://github.com/diddipoeler/sportsmanagement"
		size="100"
    label="COM_JOOMLEAGUE_SETTINGS_UPDATESERVER_FILE"
		description="COM_JOOMLEAGUE_SETTINGS_UPDATESERVER_FILE_DESC">
		</field>	
		
  </fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sportsmanagement"
			section="component"
		/>
	</fieldset>
</config>
