.jsm-top-tipper {
    min-width: 0;
}

.jsm-top-tipper .table {
    margin-bottom: .75rem;
}

.jsm-top-tipper th,
.jsm-top-tipper td {
    white-space: nowrap;
}

.jsm-top-tipper-avatar {
    border-radius: 50%;
    object-fit: cover;
}
