.jsm-teamstats-ranking .projectname {
    font-weight: 600;
}

.jsm-teamstats-ranking .statranking {
    width: 100%;
    margin-bottom: 0;
}

.jsm-teamstats-ranking .teamlogo {
    width: 3.5rem;
}

.jsm-teamstats-ranking .jsm-teamstats-logo {
    display: inline-block;
    max-width: 3rem;
    max-height: 3rem;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.jsm-teamstats-ranking .jsm-teamstats-stat-icon {
    display: inline-block;
    max-width: 1.75rem;
    max-height: 1.75rem;
    width: auto;
    height: auto;
    vertical-align: middle;
}
