@CHARSET "UTF-8";

div.modjlgstat .teamlogo {
	max-height: 20px;
	max-width: 20px;
	vertical-align: middle;
}

div.modjlgstat .projectname {
	font-weight: bold;
}

div.modjlgstat .fulltablelink {
	text-align: center;
}

th.td_c, td.td_c {
	text-align: center;
}

table.statranking {
	width: 100%;
}
