@CHARSET "UTF-8";

.modteamplayers
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	vertical-align: middle;
	text-align:center;
}

.projectname {
	font-size: 20px;
	margin-top: 3px;
	font-weight: bold;
}

.player_position {
	font-size: 14px;
	margin-top: 1px;
	font-weight: bold;
}

.player_mins {
	font-size: 18px;
	margin-top: 1px;
	font-weight: bold;
}

div.modteamplayers .playerlink {
	text-align: center;
	vertical-align: middle;
}
div.modteamplayers .teamname {
	text-align: center;
	vertical-align: middle;
}

div.modteamplayers table {
}

div.modteamplayers td {
}

ul.modplayer{
	display: block;
	list-style: none;
}

ul.modposition{
	list-style: none;
	display: block;
}

.bx-prev {
    margin-left: -70px;
}

.bx-next {
    margin-right: -70px;
}